<p id="notice"><%= notice %></p>

<h1 class="flat">Flats</h1>

<div class="container">
<div class="row">
  <% @flats.each do |flat| %>
  <div class="col-sm-6" >
    <div class="card">
      <img class="pic" src="https://odis.homeaway.com/odis/listing/9a514373-3aed-468c-95cc-74c122fff1cf.c10.jpg" alt="cabin">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
        <a href="#" class="btn btn-primary">View this destination</a>
      </div>
    </div>
  </div>
<% end %>
</div>
    </div>
</div>

<%= link_to 'New Flat', new_flat_path %>
